/*GENERAL*/
li{font-size: 25px;}
.pad0{--bs-gutter-x:0;}
.bgColor1{background-color: #5b7065;}
.bgColor2{background-color: #c9d1c8;}
.bgColor3{background-color: #04202c;}
.row{--bs-gutter-x:0;}
footer{background-color: #c9d1c8; height: 100px;}
.heightCol{height:300px;}
.divHeight{height: 700px;}
/*TEXTOS*/
.textFlex{display: flex;flex-direction: column;align-items: center;}
h1{width: 300px;font-size: 70px;color: #c9d1c8;font-family:"Battambang", sans-serif;}
h2{margin:30px;font-family: "CormorantUnicase", sans-serif;}
h3{margin: 40px;font-size: 35px;color: #04202c;font-family: "CormorantUnicase", sans-serif;}
h4{font-size: 25px;}
.encabezado1{position: absolute;bottom:100px;left: 100px;
    width: 400px; margin:none;}
.tituFilm{position: absolute;left:600px;top:130px;color: #04202c;}
.titCont{position: absolute;left: 900px;top:300px;}
.titNos{position: absolute;left: 900px;top:400px;color: #04202c;}
.titReal{position: absolute;top: 400px;left:100px;}
.p1{font-size: 25px;font-family: "Balthazar", sans-serif;}
.p2{background-color: #04202c;color: #c9d1c8;
    font-family: "CormorantUnicase";margin: 60px;padding: 60px;}
.p3{font-size: 20px;margin: 50px;padding:20px;} 
.p4{margin:100px;padding: 50px;font-size: 20px;}
.pFilm{font-size: 20px;margin: 50px;padding:20px;color: #c9d1c8;}   
.colReal{color: #c9d1c8;}
.rrss{display: flex; justify-content:center;}
.cont{display: flex; flex-direction: column;align-items: center;
    font-size: 15px;font-family: Balthazar;}
.mensaje{color: #c9d1c8;}
.pFinal{color:#c9d1c8;margin: 100px 300px;font-family:"CormorantUnicase";}

/*IMÁGENES*/
.img100{width: 100%;}
.port{width: 100%;height: 600px;}
.imgTunel{width:100%;height: 500px;position: relative;
    bottom: 440px;right: 60px;}
.imgFact{position: relative;left: 40px;bottom: 40px;}
.img8m{position: relative;bottom: 360px;left: 80px;}
.imgHeight{height: 427px;}
.imgTambor{height:450px;position: relative;bottom: 400px;right: 380px;}
.imgLechu{position: relative;bottom:360px;left: 80px;}
.imgMecanico{position: relative;right: 80px;bottom: 430px;}

/*FUENTES*/
@font-face {
    font-family: "Battambang";
    src: url("../fonts/Battambang-Bold.ttf");
    font-family: "Balthazar";
    src: url("../fonts/Balthazar-Regular.ttf");
    font-family: "CormorantUnicase";
    src: url("../fonts/CormorantUnicase-Medium.ttf");
}
/*MOBILE*/
@media (max-width:768px){
    body{display: flex; flex-direction: column;justify-content: center;}
    footer{display: flex;flex-direction: column;justify-content: center;}
    .bgColor1{height: 250px;}
    .magooMob{ display:Flex;flex-direction: column-reverse;}
    .flexMob{display: flex;flex-direction: column;align-items: center;} 

    /*TEXTOS*/
    h1{font-size: 30px;}
    .encabezado1{width: 200px;position: relative;bottom: 100px;
                 margin: -44px;}             
    .p1{font-size: 20px;padding: 10px;}
    .p2{font-size: 20px;}
    .p3{font-size: 15px;margin:20px;}
    .tituFilm{position: static; color: #5b7065;}

                    
/*IMÁGENES*/                 
    .portMob{height: 300px;}
    .imgTambor{height: 200px;position: relative;bottom:494px;left:55px;}
    .imgTunel{position: static;height: auto;}
    .imgFact{position: static;height: auto;}
    .magooMob{display:Flex;flex-direction: column-reverse;}
    .divHeight{height: 500px;}
    .heightCol{height: 0px;}
    .imgMob{height: 280px;}


    

}